.mainWrapper{
    background-color: black;
}

.heading{
color:white;
margin-left:10px;
}

.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.imagePosters{
    width: 178px;
    object-fit: contain;
}
.image{
width:170px;
transition: width .45s;
}

.image:hover{
    width:180px;
}

.posterWrapper{
    margin-right: 10px;
    height:280px;
    width:230px;
}


.summaryText{
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .8rem;
    max-width: 360px;
    height: 80px;
}

.bannerContent{
    position: absolute;
    width: 100%;
    height: 65vh;
    top: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:30px;
}

.bannerWrapper{
    height:65vh;
}

.title{
    color:red;
}
.bannerButton{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    margin-right: 1rem;
    padding: .5rem 2rem;
    background-color: rgba(51,51,51,.5);
}
.bannerButton:hover{
    background-color: white;
    color:black;
}

.navNormalBar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 60px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
    color:white;
}

.navScrollBar{
    display: flex;
    justify-content: space-between;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 60px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
    background-color:black;
    color:white;
}